@font-face {
    font-family: 'futura';
    src: url('../fonts/FuturaHandwritten.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: hidden;
    height: 100vh;
}

.item-1 {
    background-image: url(../images/headshot.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    width: 60vw;
    height: 50vh;
    text-indent: -999999px;
}

.item-2 {
    display: flex;
    color: white;
    opacity: 100%;
    font-size: 1.6vw;
    width: 100vw;
    margin: 3%;
    white-space: pre-line;
    font-family: futura;
}

.container-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

@media (max-width: 750px) {
    body {
        background-image: url(../images/background.png);
        background-size: cover;
        background-repeat: no-repeat;
        overflow-y: hidden;
        height: 100vh;
    }
    
    .item-1 {
        background-image: url(../images/headshot.PNG);
        background-size: contain;
        background-repeat: no-repeat;
        width: 55vw;
        height: 30vh;
        text-indent: -999999px;
    }
    
    .item-2 {
        display: flex;
        color: white;
        opacity: 100%;
        font-size: 2.4vw;
        width: 85vw;
    }
    
    .container-1 {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
}
