@font-face {
    font-family: 'futura';
    src: url('../fonts/FuturaHandwritten.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

header {
    display: flex;
    color: white;
    font-size: 28px;
    padding: 240px 200px 40px 200px;
    font-family: futura;
}

.game {
    position: absolute;      
    right: 20%;
    transform: translateX(-50%); 
    color: white;
    font-family: futura;
}

.game2 {
    position: absolute;    
    right: 10%;    
    color: white;
    font-family: futura;
}

.game img {
    width: 300px;
    height: auto;
    filter: brightness(0.8);
}

.game2 img {
    width: 300px;
    height: auto;
}

.game2:hover img {
    filter: brightness(0.9);
}

.back-button {
    position: absolute;
    top: 20px;
    left: 40px;
    display: inline-flex;
    padding: 10px;
    transition: 0.2s ease, transform 0.2s ease;
}

.back-button img {
    width: 150px;  
    height: auto; 
}

.back-button:hover {
    transform: translateX(-10px); 
}

.container-1, .container-2, .container-3, .container-4 {
    display: flex;
    align-items: center; 
    justify-content: space-around; 
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.item-1, .item-3, .item-5, .item-7 {
    display: flex;
    color: white;
    font-size: 28px; 
    width: 55%; 
    margin: 60px;
    font-family: futura;
    line-height: 1.4;
}

.item-2 {
    background-image: url(../images/first_building.PNG);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 45%; 
    height: 40vh;
}

.item-4 {
    background-image: url(../images/character_model.PNG);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 45%; 
    height: 40vh;
}

.item-8 {
    background-image: url(../images/texture_models.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 45%; 
    height: 40vh;
}

video {
    width: 45%; 
    height: 40vh;
    object-fit: contain;
}


@media (max-width: 750px) {
    .container-1, .container-2, .container-3, .container-4 {
        flex-direction: column;
    }

    .item-1, .item-3, .item-5, .item-7 {
        width: 90%;
        font-size: 18px;
    }

    .item-2, .item-4, .item-8, video {
        width: 90%;
        height: 30vh;
    }
}