@font-face {
    font-family: 'futura';
    src: url('../fonts/FuturaHandwritten.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

header {
    display: flex;
    color: white;
    font-size: 1.5vw;
    padding: 50px;
    font-family: futura;
}

.item-1 {
    background-image: url(../images/first\ building.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    width: 40vw;
    height: 40vh;
    text-indent: -999999px;
    margin: 50px;
}

.item-2, .item-3, .item-6 {
    display: flex;
    color: white;
    opacity: 100%;
    font-size: 1.5vw;
    width: 80vw;
    margin: 5%;
    font-family: futura;
}

.item-4 {
    background-image: url(../images/character\ model.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    width: 40vw;
    height: 40vh;
    text-indent: -999999px;
    margin: 40px;
}

video {
    display: flex;
    width: 40vw;
    height: 40vh;
    text-indent: -999999px;
    margin: 50px;
}

.container-1 {
    display: flex;
    max-height: 35vh;
}
.container-2 {
    display: flex;
    max-height: 35vh;
}
.container-3 {
    display :flex;
    max-height: 60vh;
}

@media (max-width: 750px) {
    header {
        display: flex;
        color: white;
        font-size: 2.3vw;
        padding: 25px;
        font-family: futura;
    }
    body {
        background-image: url(../images/background.png);
        background-size: cover;
        background-repeat: no-repeat;
        overflow-y: hidden;
        height: 100%;

    }

    .item-1 {
        background-image: url(../images/first\ building.PNG);
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        width: 100vw;
        height: 80vh;
        text-indent: -999999px;
        margin: 10px;
    }
    
    .item-2, .item-3, .item-6 {
        display: flex;
        color: white;
        opacity: 100%;
        font-size: 2vw;
        width: 80vw;
        margin: 5%;
        font-family: futura;
    }
    
    .item-4 {
        background-image: url(../images/character\ model.PNG);
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        width: 100vw;
        height: 80vh;
        text-indent: -999999px;
        margin: 5px;
    }
    
    video {
        display: flex;
        width: 50vw;
        height: 40vh;
        text-indent: -999999px;
        margin: 5px;
    }
    .container-1 {
        display: flex;
        max-height: 20vh;
        margin: 0px 0px 50px 0px;
    }
    .container-2 {
        display: flex;
        max-height: 20vh;
        margin: 0px 0px 50px 0px;
    }
    .container-3 {
        display :flex;
        max-height: 20vh;
        align-items: center;
    }
}
