body {
    background-image: url(../images/background_filled.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: hidden;
    height: 100vh;
}
.main {
    background-image: url(../images/introduction.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    aspect-ratio: 16/9;
    height: 50%;
    display: flex;
    margin: 100px auto 100px auto;
    text-indent: -999999px;
}

ul {
    list-style-type: none;
}

.footer_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: -120px;
    padding-left: 22vw;       
    box-sizing: border-box;
}

.icons {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    gap: 1vw;                  
}

.icons img { 
    width: 250px;                
    max-width: 20vw;          
    height: auto;
    transition: 0.2s ease, transform 0.2s ease;
}

.icons img:hover {
    transform: translateY(-10px); 
}

.new-button {
    position: absolute;
    top: 200px;
    left: 20px;
    display: inline-flex;
    padding: 10px;
    transition: 0.2s ease, transform 0.2s ease;
}

.new-button:hover {
    transform: translateY(-10px); 
}
.linkedin {
    position: absolute;
    top: 20px;
    right: 160px; 
    z-index: 10;
    transition: 0.2s ease, transform 0.2s ease;
}

.github {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    transition: 0.2s ease, transform 0.2s ease;
}

.linkedin img,
.github img {
    width: 150px;
    height: auto;
    transition: 0.2s ease, transform 0.2s ease;
}

.linkedin:hover img,
.github:hover img {
    transform: translateY(-10px);
}

.note {
    position: absolute;
    position: absolute;
    top: 50px;
    left: 250px;
    z-index: 10;
}

.note img {
    width: 270px;  
    height: auto; 
}

@media all and (max-width: 1400px) and (min-width: 751px){
    body {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow-y: hidden;
        height: 100vh;
        }
    .main {
        background-image: url(../images/introduction.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        aspect-ratio: 16/9;
        height: 50%;
        display: flex;
        margin: 100px auto 100px auto;
        text-indent: -999999px;

    }

    .footer_container { 
        display: flex;
        height: 14vh;
        justify-content: center;
        align-items: center;
        margin: 1px 300px 10px 300px;
        border-radius: 20px;
    }

    .icons img {
        width: 15vw;
        height: auto;
    }

}

@media all and (max-width: 750px) {
    body {
        background-image: url(../images/background.png);
        display: flex;
        flex-direction: column;
        margin: 0;
        overflow-y: hidden;
    }
    
    .main {
        background-image: url(../images/introduction.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        aspect-ratio: 5/3;
        height: 50%;
        display: flex;
        margin: 100px auto 100px auto;
        text-indent: -999999px;
    }
    
    .footer_container {
        display: flex;
        height: 14vh;
        justify-content: center;
        align-items: center;
        margin: 0 auto 150px;
        border-radius: 20px;
        padding: 10px;
    }
    
    .icons img {
        width: 25vw;  
        height: auto;
    }
}