body {
    background-image: url(../images/background_filled.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: hidden;
    height: 100vh;
}
.main {
    background-image: url(../images/introduction.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    aspect-ratio: 16/9;
    height: 50%;
    display: flex;
    margin: 100px auto 100px auto;
    text-indent: -999999px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw
}

.footer_container {
    display: flex;
    height: 1vh; 
    justify-content: center;
    align-items: center;
    margin: 0px 500px 0px 500px; 
    border-radius: 40px;
}

@media all and (max-width: 1400px) and (min-width: 751px){
    body {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow-y: hidden;
        height: 100vh;
        }
    .main {
        background-image: url(../images/introduction.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        aspect-ratio: 16/9;
        height: 50%;
        display: flex;
        margin: 100px auto 100px auto;
        text-indent: -999999px;

    }

    .footer_container { 
        display: flex;
        height: 14vh;
        justify-content: center;
        align-items: center;
        margin: 1px 300px 10px 300px;
        border-radius: 20px;
    }

    .icons img {
        width: 15vw;
        height: auto;
    }

}

@media all and (max-width: 750px) {
    body {
        background-image: url(../images/background.png);
        display: flex;
        flex-direction: column;
        margin: 0;
        overflow-y: hidden;
    }
    
    .main {
        background-image: url(../images/introduction.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        aspect-ratio: 5/3;
        height: 50%;
        display: flex;
        margin: 100px auto 100px auto;
        text-indent: -999999px;
    }
    
    .footer_container {
        display: flex;
        height: 14vh;
        justify-content: center;
        align-items: center;
        margin: 0 auto 150px;
        border-radius: 20px;
        padding: 10px;
    }
    
    .icons img {
        width: 25vw;  
        height: auto;
    }
}