body {
    background-image: url(images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
header {
    display: flex;
    color: white;
    font-size: 2rem;
}

.item-1 {
    background-image: url(images/first\ building.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    width: 35vw;
    height: 35vh;
    text-indent: -999999px;
}
.item-2 {
    display: flex;
    color: white;
    opacity: 100%;
    font-size: 2rem;
}


.item-3 {
    display: flex;
    color: white;
    opacity: 100%;
    font-size: 2rem;
}
.item-4 {
    background-image: url(images/character\ model.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    width: 40vw;
    height: 40vh;
    text-indent: -999999px;
}


video {
    display: flex;
    width: 40vw;
    height: 40vh;
    text-indent: -999999px;
}

.item-6 {
    display: flex;
    color: white;
    opacity: 100%;
    font-size: 2rem;
}


.container-1 {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 40px 40px 40px;
}

.container-2 {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 40px 40px 40px;
}

.container-3 {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 40px 40px 40px;
}