body {
    background-image: url(images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    height: 100vh;
}
.main {
    background-image: url(images/introduction.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vh;
    height: 55%;
    display: flex;
    margin: 100px auto 100px auto;
    text-indent: -999999px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.footer_container {
    display: flex;
    height: 14vh; 
    justify-content: center;
    align-items: center;
    margin: 20px 500px 0px 500px; 
    border-radius: 20px;
}

@media all and (max-width: 1400px) and (min-width: 751px){
    body {
        background-image: url(images/background.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    .main {
        background-image: url(images/introduction.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        width: 90vh;
        height: 50%;
        margin: 50px auto 50px auto;
        text-indent: -999999px;/

    }

    .footer_container { 
        display: flex;
        height: 14vh;
        justify-content: center;
        align-items: center;
        margin: 1px 300px 10px 300px;
        border-radius: 20px;
    }

    .icons img {
        width: 15vw;
        height: auto;
    }

}

@media all and (max-width: 750px) {
    body {
        display: flex;
        flex-direction: column;
        margin: 0;
        overflow-y: hidden;
    }
    
    .main {
        background-image: url(images/introduction.png);
        background-repeat: no-repeat;
        background-size: contain;
        flex-grow: 1; /* Allow main to grow and take up available space */
        width: 90vw; /* Use vw for responsiveness */
        max-height: 50vh; /* Set a max height if necessary */
        margin: auto; /* Center horizontally */
        display: flex; /* Use flexbox to center content */
        align-items: center; /* Center items vertically */
        justify-content: center; /* Center items horizontally */
    }
    
    .footer_container {
        display: flex;
        height: 14vh;
        justify-content: center;
        align-items: center;
        margin: 0 auto 200px;
        border-radius: 20px;
        padding: 10px;
    }
    
    .icons img {
        width: 25vw; /* Responsive width */
        height: auto;
    }
}