body {
    background-image: url(images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    height: 100vh;
}

.main {
    background-image: url(images/resume.PNG);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    width: 75vh;
    height: 98vh;
    margin-top: 100px;
    text-indent: -999999px;
}

@media (max-width: 750px) {
    .main {
        background-image: url(images/resume.PNG);
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        width: 80vw;
        height: 100vh;
        margin: 40px;
        text-indent: -999999px;
    }
}